apiVersion: v2
name: litlyx
description: A Helm chart for Litlyx analytics platform
type: application
version: 0.2.0
appVersion: "latest"

maintainers:
  - name: florianspk
    email: florian@florianspk.fr

keywords:
  - analytics
  - monitoring
  - dashboard
  - metrics
